:root {
    --bg1: #1d7154;
    --bg2: #c33764;
    --text: rgb(211, 206, 203);
    --box: rgba(236, 245, 65, 0.15);
}

.light {
    --bg1: #e01818;
    --bg2: #ffffff;
    --text: black;
    --box: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    font-family: Arial;
    color: var(--text);
    background: linear-gradient(-45deg, #1d2671, #c33764, #0f2027, #203a43);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}
h2{
    color: #ff7200;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

nav a {
    margin: 15px;
    color: var(--text);
    text-decoration: none;
}

#themeToggle {
    padding: 10px;
}

.box {
    padding: 80px;
    transition: .4s;
}

.box:hover {
    background: var(--box);
    transform: scale(1.03);
}

.about-container {
    display: flex;
    gap: 40px;
}

.about-container img {
    width: 300px;
    height: 320px;
    border-radius: 10%;
    border: 4px solid white;
    box-shadow: 0px 10px 30px rgb(241, 134, 11);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project-card {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px black;
    transition: .4s;
}

.project-card img {
    width: 70px;
    border-radius: 50%;
}

.project-card:hover {
    transform: translateY(-15px) scale(1.05);
}

.project-card button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(45deg, #00f2fe, #4facfe);
    color: white;
    box-shadow: 0 5px 20px #00f2fe;
}
#themeToggle {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 30px;
    background: transparent;
    color: white;
    cursor: pointer;
    
}
.academic-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.academic-card {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px black;
    transition: .4s;
}

.academic-card img {
    width: 50px;
    margin-bottom: 15px;
    border-radius: 50%;
    font-weight: bold;
}

.academic-card:hover {
    transform: translateY(-15px);
    background: rgba(255, 255, 255, 0.3);
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.skill-card {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px black;
    transition: .4s;
}

.skill-card img {
    width: 80px;
    margin-bottom: 15px;
}

.skill-card:hover {
    transform: translateY(-15px) scale(1.05);
    background: rgba(255, 255, 255, 0.3);
}
.cert-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.cert-card {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: .4s;
    box-shadow: 0 10px 25px black;
    font-weight: bold;
}

.cert-card img {
    width: 30%;
    border-radius: 50px;
}

.cert-card:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.3);
}
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    border: none;
    background: linear-gradient(45deg, #00f2fe, #4facfe);
    color: white;
    border-radius: 30px;
    box-shadow: 0 5px 20px #00f2fe;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.info-box {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px black;
    transition: .4s;
}

.info-box img {
    width: 30px;
    margin-bottom: 10px;
}

.info-box:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.3);
}
logo{
    width: 80px;
    height: auto;
    margin-left: 5px;
}